$color-primary: #333;
$color-secondary: #382491;
$color-white: #fff;

html,body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    color: $color-primary;
    letter-spacing: 1px;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0 0 1.25rem 0;
    font-family: 'Roboto Slab', serif;
}

p {
    margin: 0 0 1rem 0;
}

img {
    height: auto;
    max-width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

.container {
    max-width: 80em;
    margin: 0 auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
    position: relative;
}

.profile-img {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-image: url('images/profile.jpg');
    background-size: cover;
    border: 1px solid $color-white;
    background-position: 50%;
}

.section {
    padding: 2rem 0;
}

.section-heading {
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
    text-transform: uppercase;

    &:after {
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: $color-primary;
        position: absolute;
        bottom: -.5rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &.section-heading--alt {
        color: $color-white;

        &:after {
            background: $color-white;
        }
    }
}

/*** Header ****/ 
.header {
    background-image: url('images/lighthouse.jpg'); 
    background-size: cover;
    background-position: center center;
    position: relative;

    .container {
        z-index: 1;
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.5);
    }
}

.header-top {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-main {
    margin: 1rem auto 2rem auto;
    text-align: center;

    * {
        color: $color-white;
    }
}

.header-main__title {
    border: 4px solid $color-white;
    padding: 1rem;
    max-width: 720px;
    margin: 0 auto 1.25rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.75rem;
    font-family: 'Roboto Slab', serif;

    .icon {
        fill: $color-white;
        width: 1.25rem;
        height: 1.25rem;
        margin: 0 8px;
    }
}

.header-main__line {
    width: 30px;
    height: 2px;
    background: $color-white;
    display: block;
    margin: 8px auto 4px auto;
}

.header-main__text {
    font-weight: 300;
    max-width: 720px;
    margin: 0 auto 1rem auto;
    line-height: 1.5rem;

    a {
        text-decoration: underline;
        transition: all .3s;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}

.nav {
    list-style: none;
    display: flex;
}

.nav__link {
    font-size: .875rem;
    margin-left: 1rem;
    color: $color-white;
}

/*** Contact ****/
.contact__container {
    max-width: 720px;
    margin: 0 auto;
}

.contact__item {
    text-align: center;
    padding: 1rem 0;

    .icon {
        fill: $color-secondary;
        width: 2.5rem;
        height: 2.5rem;
    }

    a {
        transition: all .3s;

        &:hover,
        &:focus {
            color: $color-secondary;
        }
    }
}

.contact__title {
    display: block;
}

/**** Skils ****/
.skills {
    background: $color-secondary;
}

.skills-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 720px;
    margin: 0 auto;
}

.skills-list__item {
    width: 23%;
    margin: 1rem 0;
    text-align: center;

    .icon {
        width: 2.5rem;
        height: 2.5rem;
    }
}

.icon-html {
    fill: #e34c26;
}

.icon-css {
    fill: #264de4;
}

.icon-git {
    fill: #bd2c00;
}

/*** Footer ****/
.footer {
    background: $color-primary;
    padding: 2rem 0;
    text-align: center;
    margin-top: auto;

    p {
        margin: 0;
        color: $color-white;
        font-size: .875rem;
    }
}

/**** Swiper Slider ****/
.swiper {
    max-width: 1080px;
    padding: 1rem 0 3.5rem 0;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.swiper-slide__content {
    background: $color-secondary;
    padding: 1rem 2rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    z-index: 1;
    order: 2;
    
    * {
        color: $color-white;
    }
}

.swiper-slide__title {
    font-size: 1.5rem;
    margin-bottom: .5rem;
}

.swiper-slide__text {
    font-size: .875rem;
    line-height: 1.25rem;
}

.swiper-slide__link {
    position: relative;
    background: $color-white;
    color: $color-secondary;
    font-size: 14px;
    font-weight: 600;
    padding: .5rem 1.5rem .5rem .5rem;
    transition: all .3s;

    &:hover,
    &:focus {
        text-decoration: none;
        background: $color-primary;
        color: $color-white;

        &:after {
            border-color: $color-white;
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-45%) rotate(-45deg);
        right: .7rem;
        width: 7px;
        height: 7px;
        border-right: 2px solid $color-secondary;
        border-bottom: 2px solid $color-secondary;
    }
}

.swiper-slide__media {
    position: relative;
    height: 180px;
    
    img {
        height: 100%;
        width: 100%;
        object-fit: fill;
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.25);
    }
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
    color: $color-secondary;

    &:after {
        font-size: 1.5rem;
    }
}

.swiper-button-next {
    right: 60px;
}

.swiper-button-prev {
    left: 60px;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    cursor: pointer;
}

.swiper-pagination-bullet-active {
    background: $color-secondary;
}

/**** Media Queries ****/
@media(min-width: 48em) {
    .header {
        min-height: 600px;
    }

    .profile-img {
        width: 5rem;
        height: 5rem;
    }

    .nav__link {
        font-size: 1rem;
    }

    .header-main {
        margin: 4rem auto;
    }

    .header-main__title {
        font-size: 2.25rem;
        flex-direction: row;

        .icon {
            width: 1.5rem;
            height: 1.5rem;
        }
    }

    .header-main__line {
        width: 2px;
        height: 30px;
        margin: 0 1rem;
    }

    .header-main__text {
        font-size: 1.125rem;
    }

    .section-heading {
        font-size: 1.75rem;
    }

    .swiper-slide__title {
        font-size: 1.75rem;
    }

    .swiper-slide__text {
        font-size: 1rem;
    }

    .swiper-slide__content {
        padding: 2rem;
    }

    .swiper-slide__media {
        height: 300px;
    }

    .skills-list__item {
        .icon {
            width: 5rem;
            height: 5rem;
        }
    }

    .contact__title {
        font-size: 1.25rem;
    }

    .contact__container {
        display: flex;
        justify-content: center;
    }

    .contact__item {
        width: 33.3333%;
        margin: 2rem 0;

        .icon {
            margin-bottom: .5rem;
        }
    }
}

@media(min-width: 72em) {
    .swiper-slide {
        min-height: 460px;
        flex-direction: row;

        &:after {
            content: '';
            display: block;
            width: 400px;
            height: 200%;
            position: absolute;
            top: 50%;
            left: 40px;
            transform: translateY(-50%) rotate(-15deg);
            background: $color-secondary;
            z-index: 1;
        }
    }

    .swiper-slide__content {
        order: 1;
        width: 30%;
        padding: 0 0 0 4rem;
    }

    .swiper-slide__media {
        order: 2;
        width: 70%;
        height: auto;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: block;
    }
}