html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}
html.nav-active, body.nav-active {
  overflow: hidden;
}
html.nav-active:after, body.nav-active:after {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

* {
  color: #333;
  letter-spacing: 1px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1.25rem 0;
  font-family: "Roboto Slab", serif;
}

p {
  margin: 0 0 1rem 0;
}

img {
  height: auto;
  max-width: 100%;
}

a {
  display: inline-block;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: underline;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  max-width: 80em;
  margin: 0 auto;
  padding-left: 15px !important;
  padding-right: 15px !important;
  position: relative;
}

.profile-img {
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-image: url("images/profile.jpg");
  background-size: cover;
  border: 1px solid #fff;
  background-position: 50%;
  z-index: 1;
}

.section {
  padding: 2rem 0;
}

.section-heading {
  text-align: center;
  position: relative;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.section-heading:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  background: #333;
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
}
.section-heading.section-heading--alt {
  color: #fff;
}
.section-heading.section-heading--alt:after {
  background: #fff;
}

/*** Header ****/
.header {
  background-image: url("images/lighthouse.jpg");
  background-size: cover;
  background-position: center center;
  position: relative;
}
.header:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.header-top {
  margin-top: 1rem;
  padding: 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header-main {
  margin: 0.5rem auto 2rem auto;
  text-align: center;
  position: relative;
  z-index: 2;
}
.header-main * {
  color: #fff;
}

.header-main__title {
  border: 4px solid #fff;
  padding: 1rem;
  max-width: 720px;
  margin: 0 auto 1.25rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  font-family: "Roboto Slab", serif;
  position: relative;
}
.header-main__title .icon {
  fill: #fff;
  width: 1.25rem;
  height: 1.25rem;
  margin: 0 8px;
}

.header-main__line {
  width: 30px;
  height: 2px;
  background: #fff;
  display: block;
  margin: 8px auto 4px auto;
}

.header-main__text {
  font-weight: 300;
  max-width: 720px;
  margin: 0 auto 1rem auto;
  line-height: 1.75rem;
}
.header-main__text a {
  transition: all 0.3s;
  color: #aefcf9;
}
.header-main__text a:hover, .header-main__text a:focus {
  text-decoration: underline;
}

.header-main__btn {
  background: #382491;
  color: #fff;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 0.3s;
}
.header-main__btn:hover, .header-main__btn:focus {
  text-decoration: none;
  background: #fff;
  color: #333;
}

.nav-toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 2rem;
  height: 1.5rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  z-index: 99;
}
.nav-toggle.active .nav-toggle__bar:nth-child(2) {
  transform: translateY(10px) rotate(45deg);
}
.nav-toggle.active .nav-toggle__bar:nth-child(3) {
  display: none;
}
.nav-toggle.active .nav-toggle__bar:nth-child(4) {
  transform: translateY(-11px) rotate(-45deg);
}

.nav-toggle__bar {
  width: 100%;
  display: block;
  background: #fff;
  height: 2px;
  transition: 0.4s ease;
}

.nav-container {
  position: fixed;
  top: 0;
  right: -140%;
  width: 100vw;
  height: 100vh;
  background: #382491;
  z-index: 98;
  transition: 0.4s ease;
}
.nav-container.open {
  right: 0;
}

.nav {
  list-style: none;
  padding: 0;
  margin-top: 2.5rem;
}

.nav__item {
  text-align: center;
}

.nav__link {
  font-size: 1.25rem;
  margin: 1rem;
  color: #fff;
}

/*** Contact ****/
.contact__container {
  max-width: 720px;
  margin: 0 auto;
}

.contact__item {
  text-align: center;
  padding: 1rem 0;
}
.contact__item .icon {
  fill: #382491;
  width: 2.5rem;
  height: 2.5rem;
}
.contact__item a {
  transition: all 0.3s;
}
.contact__item a:hover, .contact__item a:focus {
  color: #382491;
}

.contact__title {
  display: block;
}

/**** Skils ****/
.skills {
  background: #382491;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 720px;
  margin: 0 auto;
}

.skills-list__item {
  width: 23%;
  margin: 1rem 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills-list__item .icon {
  width: 2.5rem;
  height: 2.5rem;
}

.skills-list__title {
  color: #fff;
  margin-bottom: 4px;
  font-size: 0.75rem;
}

.icon-html {
  fill: #e34c26;
}

.icon-css {
  fill: #264de4;
}

.icon-git {
  fill: #bd2c00;
}

/*** Footer ****/
.footer {
  background: #333;
  padding: 2rem 0;
  text-align: center;
  margin-top: auto;
}
.footer p {
  margin: 0;
  color: #fff;
  font-size: 0.875rem;
}

/**** Swiper Slider ****/
.swiper {
  max-width: 1080px;
  padding: 1rem 0 3.5rem 0;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.swiper-slide__content {
  background: #382491;
  padding: 1rem 1rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  order: 2;
}
.swiper-slide__content * {
  color: #fff;
}

.swiper-slide__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.swiper-slide__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.swiper-slide__link {
  position: relative;
  background: #fff;
  color: #382491;
  font-size: 14px;
  font-weight: 600;
  padding: 0.5rem 1.5rem 0.5rem 0.5rem;
  transition: all 0.3s;
}
.swiper-slide__link:hover, .swiper-slide__link:focus {
  text-decoration: none;
  background: #333;
  color: #fff;
}
.swiper-slide__link:hover:after, .swiper-slide__link:focus:after {
  border-color: #fff;
}
.swiper-slide__link:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-45%) rotate(-45deg);
  right: 0.7rem;
  width: 7px;
  height: 7px;
  border-right: 2px solid #382491;
  border-bottom: 2px solid #382491;
}

.swiper-slide__media {
  position: relative;
  height: 180px;
}
.swiper-slide__media img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.swiper-slide__media:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.swiper-button-prev,
.swiper-button-next {
  display: none;
  color: #382491;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 1.5rem;
}

.swiper-button-next {
  right: 60px;
}

.swiper-button-prev {
  left: 60px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  background: #382491;
}

/**** Media Queries ****/
@media (min-width: 48em) {
  .header {
    min-height: 540px;
  }
  .profile-img {
    width: 8rem;
    height: 8rem;
  }
  .nav-container {
    width: 35vw;
  }
  .nav__item {
    text-align: left;
  }
  .nav__link {
    margin: 0.5rem 1.5rem;
  }
  .header-top {
    margin-top: 2rem;
  }
  .header-main__title {
    font-size: 2.25rem;
    flex-direction: row;
  }
  .header-main__title .icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .header-main__line {
    width: 2px;
    height: 30px;
    margin: 0 1rem;
  }
  .header-main__text {
    font-size: 1.125rem;
  }
  .section-heading {
    font-size: 1.75rem;
  }
  .swiper-slide__title {
    font-size: 1.75rem;
  }
  .swiper-slide__text {
    font-size: 1rem;
  }
  .swiper-slide__content {
    padding: 2rem;
  }
  .swiper-slide__media {
    height: 300px;
  }
  .skills-list__item .icon {
    width: 5rem;
    height: 5rem;
  }
  .skills-list__title {
    font-size: 0.875rem;
  }
  .contact__title {
    font-size: 1.25rem;
  }
  .contact__container {
    display: flex;
    justify-content: center;
  }
  .contact__item {
    width: 33.3333%;
    margin: 2rem 0;
  }
  .contact__item .icon {
    margin-bottom: 0.5rem;
  }
}
@media (min-width: 72em) {
  .swiper-slide {
    min-height: 460px;
    flex-direction: row;
  }
  .swiper-slide:after {
    content: "";
    display: block;
    width: 400px;
    height: 200%;
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translateY(-50%) rotate(-15deg);
    background: #382491;
    z-index: 1;
  }
  .swiper-slide__content {
    order: 1;
    width: 30%;
    padding: 0 0 0 4rem;
  }
  .swiper-slide__media {
    order: 2;
    width: 70%;
    height: auto;
  }
  .swiper-button-prev,
  .swiper-button-next {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
